<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:context="http://www.springframework.org/schema/context"  
 xmlns:p="http://www.springframework.org/schema/p"  
 xmlns:mvc="http://www.springframework.org/schema/mvc"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context-4.1.xsd 
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd ">
	
	<!-- 添加注解驱动 -->
	<mvc:annotation-driven/>
	
	<!-- 设置使用注解的类所在的jar包 -->
    <context:component-scan base-package="com.eastrobot"/>
	
	<!-- 静态资源访问 -->
	<!-- 由于web.xml中配置spring只拦截.htm的路径，所以无需配置静态资源访问
  	<mvc:resources location="/resource/js/" mapping="/js/**"/>
 	<mvc:resources location="/resource/imgs/" mapping="/imgs/**"/>
 	<mvc:resources location="/resource/css/" mapping="/css/**"/> -->
	
	<!-- 附件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"/>
		<property name="maxUploadSize" value="1048576000"/>
		<property name="maxInMemorySize" value="40960"/>
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
 </beans>